<style>
    .title-block {
        position: relative;
        text-align: center;
    }

    /* .title-block h2 {
        color: #f5f5f5;
        font-size: 60px;
        line-height: 74px;
        margin: 0;
        text-align: center;
    }

    .title-block .sp-subtitle {
        color: #aaa;
        font-size: 21px;
        font-weight: 300;
        margin: 5px 0;
        text-align: center;
    }

    .text-rotation {
        display: block;
        width: 100%;
        position: relative;
    }

    @media only screen and (max-width: 1024px) {
        .title-block h2 {
            font-size: 48px;
            line-height: 56px;
            margin: 0 0 10px;
            text-align: center;
        }

        .title-block .sp-subtitle {
            font-size: 18px;
        }
    } */
</style>

<div class="vcentered">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="title-block">
                <!-- <h2>Alex Smith</h2>
                <div class="owl-carousel text-rotation">
                    <div class="item">
                        <div class="sp-subtitle">Web Designer</div>
                    </div>

                    <div class="item">
                        <div class="sp-subtitle">Frontend-developer</div>
                    </div>
                </div> -->

                TODO
            </div>
        </div>
    </div>

</div>