<style>
    .lm-animated-bg {
        position: absolute;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent url(/img/main_bg.png) center center no-repeat;
        background-size: cover;
        z-index: -1;
    }

    @media only screen and (max-width: 1024px) {
         .lm-animated-bg {
            display: none;
         }
    }
</style>

<div class="lm-animated-bg"></div>