/*
* Template Name: BreezyCV - Resume / CV / vCard / Portfolio Template
* Author: LMPixels
* Author URL: http://themeforest.net/user/lmpixels
* Version: 1.2.0
*/

/* ------------------------------------------------------------
1. Fonts
2. General Styles
3. Page loadig animation
4. Header
5. Page Content
6. Elements
7. Single Page (Blog Posts, 404 etc.)
8. Media Queries
9. Pricing
10. Updates
------------------------------------------------------------ */

/* ------------------------------------------------------------
1. Fonts
------------------------------------------------------------ */
/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i');

/* Linear Icons Font */
@import url('./fonts/linear-icons-font/style.css');

/* FontAwesome Free Icons Font */
@import url('./fonts/fontawesome-free-5.12.1-web/css/all.min.css');


/* ------------------------------------------------------------
2. General Styles
------------------------------------------------------------ */
html {
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}

body {
    background-color: #5050f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#9d2bf3), to(#5050f5));
    background: linear-gradient(#9d2bf3, #5050f5);
    margin: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-size: 15px;
    font-family: 'Poppins', Helvetica, sans-serif;
    line-height: 1.65em;
    overflow: hidden;
    color: #d5d5d5;
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #eee;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

a {
    color: #0099cc;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

p {
    margin-bottom: 10px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.page {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 0 100px;
    overflow: hidden;
}

.page-content {
    position: relative;
    width: 100%;
    max-width: 1280px;
    min-height: 80vh;
    margin: 10vh auto;
    padding: 0;
    background-color: #444;
    -webkit-box-shadow: 0 0 100px -5px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 100px -5px rgba(0, 0, 0, .25);
    box-shadow: 0 0 100px -5px rgba(0, 0, 0, .25);
    border-radius: 32px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* buttons */
.btn-primary,
.btn-secondary,
button,
input[type="button"],
input[type="submit"],
.wp-block-button .wp-block-button__link {
    display: inline-block;
    position: relative;
    padding: .8em 2.1em;
    margin-bottom: .75em;
    margin-right: .25em;
    font-size: 1em;
    line-height: 1.2;
    border: 0;
    outline: 0;
    border: 2px solid #5050f5;
    color: #f5f5f5;
    text-shadow: none;
    background-color: transparent;
    border-radius: 30px;
    font-family: 'Poppins', Helvetica, sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .3);
}

.btn-primary:last-child,
.btn-secondary:last-child,
button:last-child,
input[type="button"]:last-child,
input[type="submit"]:last-child,
.wp-block-button .wp-block-button__link:last-child {
    margin-right: 0;
}

.btn-primary:hover,
.btn-primary:focus,
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
    background-color: #5050f5;
    color: #fff;
    border: 2px solid #5050f5;
}

.btn-secondary {
    border-color: #d5d5d5;
    background-color: transparent;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .3);
    color: #f5f5f5;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    border-color: #d5d5d5;
    background-color: #d5d5d5;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* Form controls */
.form-group {
    position: relative;
    margin: 0 0 21.5px;
}

.form-control,
.form-control:focus {
    height: 42px;
}

.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
input[type="search"],
input[type="password"],
input[type="text"] {
    position: relative;
    border: 2px solid #999;
    border-radius: 5px;
    display: block;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 10px 25px 10px 12px;
    width: 100%;
    background: 0 0;
    background-color: transparent;
    text-align: left;
    color: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-family: 'Poppins', Helvetica, sans-serif;
    box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, .1);
}

textarea.form-control,
textarea.form-control:focus {
    height: auto;
}

.form-control~.form-control-border {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    border-radius: 5px;
    top: 0;
    opacity: 0;
    background: transparent;
    border: 2px solid #5050f5;
    border-right-width: 0;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.form-control:focus~.form-control-border {
    left: 0;
    right: 0;
    height: 100%;
    z-index: 1;
    opacity: 1;
    border-right-width: 2px;
}

.has-error .form-control~.form-control-border {
    border-color: #ff4c4c;
}

/* Placeholders */
.form-control::-moz-placeholder {
    color: #adadac;
}

.form-control:-ms-input-placeholder {
    color: #adadac;
}

.form-control::-webkit-input-placeholder {
    color: #adadac;
}

/* /Placeholders */

.form-group .help-block {
    position: absolute;
    display: inline-block;
    padding: 0px 5px;
    font-size: 0.93em;
    line-height: 1.75em;
    margin: -2px 0 0 10px;
    color: #fff;
    background: #ff4e4e;
}

.form-group .help-block:after {
    content: " ";
    position: absolute;
    left: 5px;
    bottom: 100%;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ff4e4e;
    border-right: 10px solid transparent;
}

.form-group .help-block:empty {
    display: none;
}

.form-group-with-icon i {
    position: absolute;
    font-size: 16px;
    top: 13px;
    right: 13px;
    color: #d3d3d3;
}

.form-group-with-icon.form-group-focus i {
    color: #5050f5;
}

.form-group.form-group-w-checkbox {
    padding-top: 0;
    padding-bottom: 8px;
    margin-bottom: 17px;
}

.form-group-with-icon.form-group-w-checkbox {
    padding-top: 8px;
    padding-left: 52px;
    margin-bottom: 25px;
}

.form-group .form-control-checkbox+label,
.form-group.form-group-focus .form-control-checkbox+label {
    position: relative;
    display: inline;
    left: 0;
    top: 0;
    font-size: 1em;
    opacity: 1;
}

.form-group .form-control-checkbox,
.form-group.form-group-focus .form-control-checkbox {
    display: inline-block;
    width: auto;
    height: auto;
    top: 2px;
}

.form-group.form-group-w-checkbox .help-block {
    top: 100%;
    left: 0;
    margin-left: 0;
}

.form-group.form-group-with-icon.form-group-w-checkbox .help-block {
    left: 52px;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: -1;
    color: #a5a6a7;
    transition: 0.3s;
}

.form-group .form-control:focus~label,
.form-group.form-group-focus .form-control~label {
    color: #5050f5;
    top: -20px;
    left: 0;
    z-index: 1;
    font-size: 13px;
}

.form-control,
.form-control:focus,
.has-error .form-control,
.has-error .form-control:focus,
input[type="search"],
input[type="password"],
input[type="text"],
.header-search input.form-control {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}

/* /Form controls */

/* ------------------------------------------------------------
  6. Elements
  ------------------------------------------------------------ */
.block-title {
    display: inline-block;
    position: relative;
    padding-right: 12px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.block-title h2 {
    position: relative;
    font-size: 21px;
    z-index: 1;
}

.block-title h2 span {
    color: #5050f5;
}

.block-title:after {
    position: absolute;
    opacity: 0.45;
    top: 10px;
    right: 0;
    content: '';
    height: 20px;
    width: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, #5050f5, #5050f5 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #5050f5, #5050f5 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #5050f5, #5050f5 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 0;
}

.vcentered {
    vertical-align: middle;
    width: 100%;
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.vcentered .row {
    width: 100%;
}